/* Universal Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3.7rem;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Header Section */

header {
    background-image: url("../../Resources/Images/header-background.jpg");
    background-position: center;
}

.head-content {
    color: white;
    padding-top: 100px;
}

.head-content p {
    font-size: 1rem;
    padding: 1rem 0;
}

.btn {
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem 3.5rem;
    margin: 0 0.25rem;
}

.fa-facebook, .fa-twitter {
    background-color: #00C9DB;
    padding: 0.5rem;
    border-radius: 100%;
}

.fa-facebook:hover, .fa-twitter:hover {
    color: #00C9DB;
    background-color: white;
}


/* Nav Bar */

.navbar img {
    width: 100px;
    height: 100px;
}

.navbar {
    padding: 0 5rem;
}

#links a {
    font-weight: bold;
    color: white;
    font-size: 0.8rem;
    padding: 0 1rem;
}

#links a:hover {
    color: #00C9DB;
}

.navbar.scrolled {
    background-color: #4633af;
    height: 65px;
    transition: background-color 500ms;
}

/* Review Section */

.review {
    background-color: #262431;
    color: white;
    padding: 8rem 0;
}

.rev-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.blurb {
    font-style: italic;
    padding-top: 2rem
}

.img-name {
    font-weight: bold;
}

/* Featurews Section */

.features {
    background-color: #2F2C3D;
    color: white;
    padding-bottom: 7rem;
}

.sec-title p {
    font-size: 1rem;
    padding: 1rem 0;
}

.sec-title {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

.feat-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 4rem 1rem 0 1rem;
}

.icon i {
    font-size: 1.9rem;
    background-color: #00C9DB;
    padding: 2rem;
    border-radius: 100%;
}

.text {
    margin: 0 1rem 1rem 1rem;
}

.text p {
    font-size: 0.9rem;
}

/* Preview Section */

.preview {
    background-image: url("../../Resources/Images/video-background.jpg");
    background-position: center;
    color: white;
}

.video {
    padding-bottom: 7rem;
}

.video img {
    border-radius: 0.5rem;
    width: 100%;
}

/* Example Section */

.example {
    background-color: #262431;
    color: white;
}

.example img {
    width: 100%;
}

.example p {
    font-size: 1rem;
}

.feature-eg-one {
    padding: 7rem 0 3.5rem 0;
}

.feature-eg-two {
    padding: 3.5rem 0 7rem 0;
}

/* Screenshot Section */

.screenshot {
    background-color: #2F2C3D;
}

.shot {
    width: 100%;
    padding: 7rem 0;
}

/* Download Section */

.download {
    background-image: url("../../Resources/Images/header-background.jpg");
    background-position: center;
}

.down-img {
    width: 100%;
    padding: 7rem 0;
}

/* User Section */

.user {
    background-color: #262431;
    padding: 7rem 0;
}

.amount {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.cap {
    font-size: 0.9rem;
    color: #00C9DB;
}

/* Contact Section */

.contact {
    background-image: url("../../Resources/Images/contact-background.jpg");
    background-position: center;
    color: white;
    padding-bottom: 7rem;
}

.con-link {
    padding: 0 0.8rem;
}

/* Footer Section */

.footer {
    background-color: #262431;
    color: white;
}

.foot-content {
    padding: 5rem 0;
}

.copy {
    font-size: 0.8rem;
}