/* Universal Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3.7rem;
    font-weight: bold;
}

/* Header Section */

header {
    background-image: url("../../Resources/Images/header-background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.head-content {
    color: white;
}

.head-content p {
    font-size: 1rem;
    padding: 1rem 0;
}

.btn {
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem 3.5rem;
    margin: 0 0.25rem;
}


/* Nav Bar */

.navbar img {
    width: 100px;
    height: 100px;
}

.navbar {
    padding: 0 5rem;
}

#links a {
    font-weight: bold;
    color: white;
    font-size: 0.8rem;
    padding: 0 1rem;
}